# Build output
_site/
.jekyll-cache/

# Dependencies / vendored
node_modules/
.bundle/
.sass-cache/
.jekyll/
.jekyll-metadata

# OS/editor noise
.DS_Store
.idea/
.vscode/
*.log
*.tmp
*.swp
*.iml
/.project
/.pydevproject

# Python / notebooks
*.py[co]
__pycache__/
.pytest_cache/
.tox/
.python-version
.ipynb_checkpoints/
*.egg-info/
build/
dist/
MANIFEST

# Netlify local folder
.netlify/

# Other
*.map
*.code-workspace
geckodriver.log

# Zettlr
_posts/.ztr-directory
