---
layout: default
---

{% if page.math %}
<script type="text/javascript" async 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

<article class="post">
  <div class="entry">
    {{ content }}
  </div>
  <div class="date">
    {% if page.update %}
    Last updated on {{ page.update | date: "%B %e, %Y" }}
    {% else %}
    Written on {{ page.date | date: "%B %e, %Y" }}
    {% endif %}
  </div>
  {% include disqus.html %}
</article>
